<div class="user-container">
  <div class="user-grid">
    <mat-card *ngFor="let users of allUsers" class="user-card" [routerLink]="['/userinformation', users.id]">
      <mat-card-content class="user-content">
        <div class="user-avatar">
          <mat-icon class="avatar-icon">account_circle</mat-icon>
        </div>
        <div class="user-info">
          <h3 class="user-name">{{users.firstName}} {{users.lastName}}</h3>
          <p class="user-email">
            <mat-icon class="info-icon">email</mat-icon>
            {{users.email}}
          </p>
          <p class="user-location">
            <mat-icon class="info-icon">location_on</mat-icon>
            {{users.city}}
          </p>
        </div>
        <div class="user-actions">
          <button mat-icon-button class="edit-button" (click)="EditUser(users.id); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-button" (click)="DeleteUser(users.id); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button mat-fab class="add-user-btn" (click)="openAddUserDialog()">
  <mat-icon>person_add</mat-icon>
</button>
